name: Go Benchmarks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'  # Adjust to your Go version
      
      - name: Run benchmarks
        run: go test -bench . -benchmem ./... | tee benchmark_output.txt
      
      - name: Store benchmark result
        uses: RodrigoVillar/github-action-benchmark  # Use your fork
        with:
          tool: 'go'
          output-file-path: benchmark_output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Only update on main branch
          comment-on-alert: true
          fail-on-alert: false